<section class="about about-grid">
  <h2>A bit about myself...</h2>
  <div class="about-content">
    <div class="profile-image">
      <%= image_tag "profile-image", alt: "profile-image" %>
    </div>
    <div class="about-text">
      <h2>hi 👋 i am hongjoo </h2>
      <p>Hi, my name is Hongjoo, a project manager turned designer and front-end developer living Tokyo. Back in 2012, I was trying to deliver a responsive mobile ad that just started picking up in adversiting industry - that started my interest in information design and coding.</p>
      <p>Since then, I have been involved in various forms of digital creation while learning business acumen and how to code myself.</p>
      <p>Currently working at a design studio that focuses on human center design, I put my efforts to create a holistic experience for both business owners and users, from the inception of business idea to final touch of a pixel.</p>
    </div>
  </div>
</section>