<section class="about">
  <div>
    <img src="" alt="">
  </div>
  <div class="about-content">
    <h2>hi 👋 i am hongjoo </h2>
    <p>this is my Portfolio for web applications. To learn more about me, visit here</p>
  </div>
</section>