<section class="main-banner grid banner-grid">
  <div class="main-banner-content">
    <h1>I design & develop</h1>
    <h5>User-centered | Intuitive | Result-driven<br>
      platforms that meaningfully connect people.</h5>
  </div>
  <div class="btn-outline-m">
    <p>CONTACT</p>
  </div>
</section>