<section class="main-banner grid banner-grid">
  <div class="main-banner-content">
    <div class="headline">
      <p>HELLO - I AM HONGJOO</p>
      <h1><span style="color: #B7D1CB">I </span><span style="color: #CEAE5E">design</span><br>
        <span style="color: #CC9AA4">&</span><br>
        <span style="color: #668197">develop</span></h1>
    </div>
    <div class="tag-line">
      <h5 style="font-weight: 300">User-centered | Intuitive | Result-driven<br>
        Platforms that</h5>
      <h5 style="font-weight: 600"><span style="color: #CEAE5E">MEANINGFULLY </span><span style="color: #CC9AA4">CONNECT </span><span style="color: #67AFBB">PEOPLE</span></h5>
    </div>
  </div>
  <div class="btn-arrow">
    <p>learn more</p>
    <p></p>
  </div>
</section>