<section class="main-banner">
  <div class="main-banner-content">
    <h1>Business + People + Design</h1>
    <h5>Designing holistic experience from business ideas to final touch of a pixel, we can create user-centered, intuitive and result-driven platforms that meaningfully connect people.</h5>
  </div>
</section>