<section class="main-banner grid banner-grid">
  <div class="main-banner-content">
    <div class="headline">
      <p>HELLO - I AM HONGJOO</p>
      <h1><span style="color: #B7D1CB">I </span><span style="color: #CEAE5E">Design</span>
        <span style="color: #CC9AA4">&</span>
        <span style="color: #668197">Develop</span></h1>
    </div>
    <div class="tag-line">
      <h5 style="font-weight: 300">User-centered | Intuitive | Result-driven<br>
        Platforms that</h5>
      <h5 style="font-weight: 600"><span style="color: #CEAE5E">MEANINGFULLY </span><span style="color: #CC9AA4">CONNECT </span><span style="color: #67AFBB">PEOPLE</span></h5>
    </div>
  </div>
  <div class="area-click">
    <p style="font-weight: 600">Learn more</p>
    <p><i class = "material-icons-outlined arrow_circle_down">arrow_circle_down</i></p>
    <%= link_to "", "" %>
  </div>
</section>