<section class="contact">
  <h2>Let's connect</h2>
  <div class="social-button">
    <i class="fas fa-envelope" style="font-size: 28px;"></i>
    <%= mail_to "attinore@gmail.com", "", class: 'social-button-link' %>
  </div>
  <div class="social-button">
    <i class="fab fa-github-square" style="font-size: 28px;"></i>
    <%= link_to "", "https://github.com/attinore", target: '_blank', class: 'social-button-link' %>
  </div>
  <div class="social-button">
    <i class="fab fa-linkedin" style="font-size: 28px;"></i>
    <%= link_to "", "https://www.linkedin.com/in/hongjoo/", target: '_blank', class: 'social-button-link' %>
  </div>
</section>