<nav class="navbar">
  <ul class="">
    <li class="">
      <%= link_to "About me", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "Experiences", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "Projects", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "Contact", "#", class: "nav-link btn-solid-s" %>
    </li>
  </ul>
</nav>