<nav class="navbar">
  <ul class="">
    <li class="">
      <%= link_to "ABOUT ME", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "EXPERINENCES", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "PROJECTS", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "CONTACT", "#", class: "nav-link" %>
    </li>
  </ul>
</nav>