<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
  </a>
  <ul class="">
    <li class="">
      <%= link_to "ABOUT ME", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "PROJECTS", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "SKILLS", "#", class: "nav-link" %>
    </li>
    <li class="">
      <%= link_to "CONTACT", "#", class: "nav-link" %>
    </li>
  </ul>
</nav>