<section class="navbar">
    <ul>
      <li>
        <%= link_to "About me", "#" %>
      </li>
      <li>
        <%= link_to "Projects", "#" %>
      </li>
      <li>
        <%= link_to "Skills", "#" %>
      </li>
      <li>
        <%= link_to "Contact", "#" %>
      </li>
    </ul>
</section>