<section class="projects">
  <h2>List of projects</h2>
  <div class="project-cards">
    <% data.projects.each do |project| %>
      <div class="project-content">
        <h4><%= project.name %></h4>
        <p><%= project.description %></p>
        <p class="project-details"><%= project.details %></p>
      </div>
    <% end %>
  </div>
</section>