// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;


$gold: #E0C786;
$lemon: #F9F5E6;
$accent-green: #1E7951;
$primay-grey:#F1F0EE;
$secondary-grey:#BAB6AB;
$accent-grey:#44534C;
