.btn-outline-m {
  text-align: center;
  color: $accent-mint;
  border: 1px solid $accent-mint;
  border-radius: 8px;
  padding: 16px 24px;
  width: 180px;
  p {
    margin: 0;
  }
  justify-self: center;
}

.btn-solid-s {
  text-align: center;
  background-color: $accent-mint;
  color: $white !important;
  border-radius: 8px;
  padding: 0.5rem;
  width: 6rem;
  p {
    margin: 0;
  }
  justify-self: center;
}

.area-click {
  text-align: center;
  color: $accent-mint;
  padding: 16px 24px;
  p {
    margin: 0;
  }
  justify-self: center;
}
