.navbar {
  justify-content: center;
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 16px;
    li {
    text-decoration: none;
    }
    padding-inline-start: 0px;
    font-weight: 600;
  }
}

.nav-link {
  justify-content: space-between;
  text-decoration: none;
  color: $accent-mint;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
