section {
  background-color: $white;
}

.main-banner-content {
  text-align: center;
  .headline {
    padding: 0 0 3rem 0;
    p {
      font-weight: 300;
      font-size: 1.2rem;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

  .tag-line {
    padding: 3rem 0rem;
    h5 {
    font-family: $body-font;
    color: $text-grey;
    }
  }
}

.about {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  img {
    grid-template-columns: 1fr;
  }

  h1 {
  }
  p {
    font-weight: 400;
  }
}

.projects {
  text-align: center;

  .project-cards {
    h2 {
      padding: 0 0 16px 0;
    }

    .project-content {
      padding: 16px;
    }

    .project-details {
    }
  }
}
