section {
  background-color: $white;
}

.main-banner-content {
  text-align: center;
  h1 {
    color: $accent-green;
  }
  h5 {
    padding: 4rem 0rem;
    color: $accent-grey;
  }
}

.about {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  color: $accent-grey;
  img {
    background-color: $mint;
    grid-template-columns: 1fr;
  }

  h1 {
    color: $accent-green;
  }
  p {
    font-weight: 400;
  }
}

.projects {
  color: $lemon;
  text-align: center;

  .project-cards {
    h2 {
      padding: 0 0 16px 0;
    }

    .project-content {
      background-color: $lemon;
      padding: 16px;
    }

    .project-details {
      background-color: $dark-teal;
    }
  }
}
