<div class="main-container">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Contact Section -->
  <%= partial 'partials/contact' %>
</div>